@import "../../variables";

.header-text-custom {
    font-family: $fontKarla;
    color: $grayText !important;
    font-size: $primarySize;
}

.vr{
    color: $yellowText !important;
}

.header-text-container {
    width: 70%;
}

.image-carousel-custom {
    width: 100%;
}

