@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat+Alternates&family=Mouse+Memoirs&display=swap');

//Page colors 
$primaryColor: #9ca8e1;
$secondaryColor: #9b9987;
$tertiaryColor: #dac75e;

//Text colors
$blackText: #000000;
$grayText: #9b9987;
$yellowText: #dac75e;

//Fonts
$fontKarla: "Karla", sans-serif;
$fontMontserrat: "Montserrat Alternates", sans-serif;
$fontMouse: "Mouse Memoirs", sans-serif;

//Font sizes
$primarySize: 24px;